name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup Python
      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: 3.10

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4️⃣ Lint code
      - name: Lint code
        run: |
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics || true

      # 5️⃣ Run tests
      - name: Run pytest
        run: |
          mkdir -p tests
          echo "def test_sanity(): assert 1+1==2" > tests/test_basic.py
          pip install pytest
          pytest tests/ --disable-warnings

      # 6️⃣ Run training script
      - name: Run app.py
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USER }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python app.py
